@page "/"
<div class="container">
    <div class="row">
        <div class="col">
            <Item Title="Sa3a chaba" Description="some description about the product!" Href="facebook.com" Price="$200" Image="https://ae01.alicdn.com/kf/He8d4ce89ca384f8d951823f4a8aeba453.jpg_140x140Q90.jpg_.webp"  />
        </div>
        <div class="col">
            <Item Title="Sa3a chaba" Description="some description about the product!" Href="facebook.com" Price="$200" Image="https://ae01.alicdn.com/kf/He8d4ce89ca384f8d951823f4a8aeba453.jpg_140x140Q90.jpg_.webp"  />
        </div>
        <div class="col">
            <Item Title="Sa3a chaba" Description="some description about the product!" Href="facebook.com" Price="$200" Image="https://ae01.alicdn.com/kf/He8d4ce89ca384f8d951823f4a8aeba453.jpg_140x140Q90.jpg_.webp"  />
        </div>
    </div>
</div>
