<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=@Image alt=@Alt>
  <div class="card-body">
    <h5 class="card-title">@Title</h5>
    <h5>@Price</h5>
    <p class="card-text">@Description</p>
    <a href=@Href class="btn btn-primary">Acheter</a>
  </div>
</div>


@code {
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string Alt { get; set; }
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Price { get; set; }

}